.big-button {
  position: relative;
  z-index: 10;
  text-align: center;
  height: 10em;
  width: 10em;
  max-width: 100%;
  margin: 1em;
  padding: 1em;
  border-radius: 50%;
  box-shadow: 0 0 1em #ddd;
  background-color: var(--color);
  font-weight: bold;
  transition: transform .2s, opacity .2s;

  &.hidden {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    transform: scale(.9);
  }

  img {
    width: 70%;
  }

  .tool {
    pointer-events: none;
    position: absolute;
    height: 5em;
    width: 5em;
    right: -7em;
    background-color: inherit;
    border-radius: inherit;
    box-shadow: inherit;
    
    &::after {
      content: "";
      position: absolute;
      left: -1.2em;
      width: 0;
      height: 0;
      border-top: 1em solid transparent;
      border-bottom: 1em solid transparent; 
      border-right: 1em solid var(--color);
    }
  }
}
