.list {
  max-width: 95%;
  width: 50em;
  padding: .5em 1em;
  margin: 1em;
  border-radius: 1em;
  background-color: #fff;
  box-shadow: 0 0 1em #ddd;

  > img {
    width: 6em;
    max-width: 100%;
    margin: 1em 0;
    filter:  grayscale(1);
    opacity: .2;
  }

  
  li {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1em;
    margin: .5em;
    border-radius: 1em;
    background-color: #fff;
    box-shadow: 0 0 1em #ddd;

    .content {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }

    .x-btn {
      padding: 0;
      padding-top: 0.2em;
      padding-left: .4em;
      filter: brightness(0) invert(.8);
    }

    span {
      &.phone {
        padding-right: 1em;
        color: #bbb;
      }
    }

    .flex-span {
      flex: 1;
    }

    .btn {
      margin: 0 .5em;
      white-space: pre-wrap;
    }
    
    .img-btn {
      margin: 0 .5em;
    }

    .icons {
      margin-right: auto;

      > div {
        position: relative;

        &.clickable {
          cursor: pointer;
        }
        
        img {
          filter:  brightness(0) invert(.8);
          user-select: none;
        }
  
        .filter-green {
          filter: invert(54%) sepia(54%) saturate(5738%) hue-rotate(107deg) brightness(80%) contrast(101%);      
        }
        .filter-blue {
          filter: invert(16%) sepia(59%) saturate(2959%) hue-rotate(182deg) brightness(93%) contrast(103%);
        }
  
        .x-img {
          height: .8em;
          width: .8em;
          padding: .1em;
          border-radius: 50%;
          position: absolute;
          top: -.1em;
          left: -.25em;
          filter: none;
          background-color: #FFC7C7;
        }
      }

    }
  }
}