.modal {
  z-index: 999;
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);

  .modal-window {
    max-width: 95%;
    padding: 1em 2em;
    margin: 1em;
    border-radius: 1em;
    background-color: #fff;
    box-shadow: 0 0 1em #bbb;

    * {
      max-width: 100%;
    }
  }
}