@mixin background {
  background-color: #FFFFFF;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23E8CCCC' stroke-width='5.7' stroke-opacity='0.5'%3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");}

* {
  direction: rtl;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  @include background;
}

h1, h2, h3 {
  text-align: center;
}

button {
  cursor: pointer;
  background: none;
  border: none;
  font-size: inherit;
  font-family: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  user-select: none;
  pointer-events: none;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;

  input {
    max-width: 100%;
  }
}

input {
  font-size: inherit;
}

.btn {
  text-align: center;
  white-space: nowrap;
  user-select: none;
  padding: .25em .5em;
  border-radius: .2em;
  box-shadow: 0 0 .5em #eee;
  transition: transform .2s;

  &.green {
    background-color: #9fffb5;
  }
  &.blue {
    background-color: #b8e5ff;
  }
  &.red {
    background-color: #ffc7c7;
  }

  &:hover {
    transform: translateY(-1px);
  }
  
  &:active {
    transform: translateY(2px);
  }
}

.reset-css {
  all: unset;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hidden-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hidden-scroll::-webkit-scrollbar { 
  display: none;
}

[tool-bottom] {
  z-index: 1;
  position: relative;
  overflow: visible !important;
}
[tool-bottom]::after {
  pointer-events: none;
  opacity: 0;
  content: attr(tool-bottom);
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -10%);
  padding: .2em .5em;
  border-radius: .5em;
  background: #fff;
  color: #000;
  border: 1px solid #999;
  transition: opacity .2s, transform .2s;
}
[tool-bottom]:hover::after {
  transform: translate(-50%, 20%);
  opacity: 1;
}

[tool-top] {
  z-index: 1;
  position: relative;
  overflow: visible !important;
}
[tool-top]::after {
  pointer-events: none;
  opacity: 0;
  content: attr(tool-top);
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translate(-50%, 10%);
  padding: .2em .5em;
  border-radius: .5em;
  background: #fff;
  color: #000;
  border: 1px solid #999;
  transition: opacity .2s, transform .2s;
}
[tool-top]:hover::after {
  transform: translate(-50%, -20%);
  opacity: 1;
}

@media screen and (max-width: 700px) {
  [tool-bottom]::after {
    display: none;
  }
  [tool-top]::after {
    display: none;
  }  
}

[tool-mobile]::after { display: block !important}

.grecaptcha-badge {
  opacity: 0 !important;
}

.transition {
  max-width: 100%;
}